html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

h1 {
    margin: 0 auto;
}

.background-image {
    background-image: url("../Images/Cindr-background.jpg");
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.background-image:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(1,0,0,0.6);
}

.background-image h1 {
    position: relative;
    color: #FFFFFF;
    font-size: 86px;
    top: 5%;
    z-index: 100;
}

.background-image form {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    top: 20%;
    z-index: 100;
}

.background-image form label {
    display: block;
    color: #FFFFFF;
    font-size: 18px;
}

.background-image form input {
    height: 20px;
    width: 200px;
    margin-bottom: 5px;
}

.background-image form input[type=submit] {
    border: 0;
    border-radius: 5px;
    display: block;
    color: #FFFFFF;
    height: 30px;
    background-color: #FF324C;
    margin: 20px auto;
    outline: none;
}

.background-image form a {
    font-size: 14px;
    color: #00D8FF;
}

.pull-left {
    float: left;
	display: inline-block;
}

.pull-right {
    float: right;
	display: inline-block;
}

nav[role="navigation"] {
    background-color: #006e8c;
    height: 67px;
    width: 100%;
}

nav[role="navigation"] .identity {
	display: inline-block;
	padding: 16px 30px 17px;
	font-size: 30px;
	color: #fff;
	margin-right: 50px;
}

nav[role="navigation"] .pull-left ul {
	list-style: none;
	display: inline-block;
	padding: 0;
	font-size: 0;
    top: 0;
    left: 200px;
    position: absolute;
}

nav[role="navigation"] .pull-left a li {
	display: inline-block;
	margin: 0;
	font-size: 16px;
    height: 67px;
    line-height: 50px;
    padding: 6px;
    box-sizing: border-box;
	color: #fff;
}

nav[role="navigation"] a {
    margin-right: 30px;
}

nav[role="navigation"] .pull-left a li:hover {
	color: #eee;
    border-bottom: 4px solid #c9f1fd;
}

nav[role="navigation"] .selected {
    border-bottom: 4px solid #c9f1fd;
}

.watch-together .left-side-bar {
    height: 100%;
    width: 15%;
    border-right: 2px solid #000000;
    position: fixed;
    text-align: center;
    padding: 10px;
    display: inline-block;
}
.watch-together .left-side-bar .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid #000000;
    margin: 20px auto;
    background-image: url("../Images/Punjabi_old_woman.JPG");
    background-size: 99% 99%;
}

.watch-together .left-side-bar .watch-button-group {
    width: 100%;
    height: 200px;
    margin-top: 30%;
}

.watch-together .left-side-bar button {
    display: block;
    width: 100%;
    height: 30px;
    border: none;
    background-color: #006e8c;
    color: #FFFFFF;
    margin: 10px 0 10px 0;
    border-radius: 3px;
    cursor: pointer;
}

.watch-together .left-side-bar .disconnect {
    margin-top: 90%;
    background-color: #AA0000;
}

.watch-together .movie-selection {
    display: inline-block;
    height: 100%;
    width: 80%;
    position: absolute;
    right: 0;
}

.watch-together .movie-selection .header {
    margin: 30px 0 0 30px;
}

.watch-together .movie-selection .header .title {
    margin: 30px 0 0 0;
    display: inline-block;
}

.watch-together .movie-selection .header .request-a-date {
    display: inline-block;
    position: relative;
    left: 38%;
}

.watch-together .movie-selection .header .request-a-date div {
    display: inline-block;
    text-align: center;
    margin: 0 20px 0 0;
}

.watch-together .movie-selection .header .request-a-date div h2 {
    margin: 0;
    color: #c9f1fd;
}

.watch-together .movie-selection .header .request-a-date button {
    margin: 0;
    display: inline-block;
    cursor: pointer;
    height: 50px;
    width: 200px;
    border: none;
    background-color: #008800;
    color: #FFFFFF;
    border-radius: 5px;
    vertical-align: center;
}

.watch-together .movie-selection .thumbnail-row {
    margin-top: 10px;
}

.watch-together .movie-selection .thumbnail {
    height: 220px;
    width: 158px;
    background-image: url("/Assets/Images/Passion-of-the-Christ.jpg");
    background-size: contain;
    border-radius: 5px;
    margin: 20px 20px 0 20px;
    display: inline-block;
}

nav[role="navigation"] .profilePic {
	display: inline-block;
	border-radius: 50%;
	height: 45px;
	margin-top: 10px;
	width: 45px;
	background-color: #eee;
}

nav[role="navigation"] .name {
	display: inline-block;
	float: right;
	color: #fff;
	height: 67px;
	line-height: 67px;
	padding-bottom: 30px;
	margin-left: 10px;
	width: 130px;
	cursor: pointer;
}

nav[role="navigation"] .dropdown {
	display: none;
}

.mingleLeft {
	float:left;
	width: 50%;
	height: calc(100vh - 67px);
	border-right: 1px solid black;
}

.mingleLeft .mingleProfileInfo {
	margin: 80px auto;
	text-align: center;
}

.mingleLeft .mingleProfileInfo img {
	margin: auto;
}

.mingleProfileInfo h2 {
	font-size: 36px;
	margin-bottom: 0px;
}

.mingleLeft .mingleVoteBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 135px;
	margin-bottom: 80px;
}

.mingleVoteBar .voteNope,
.mingleVoteBar .moreInfo,
.mingleVoteBar .voteYes {
	display: inline-block;
	margin-left: 180px;
	width: 95px;
	float: left;
	font-size: 100px;
	cursor: pointer;
}

.voteNope {
	color: #ff5d55;
}
.voteNope:hover .underTxt {
	display: block;
}
.moreInfo {
	color: #3d8af7;
	margin-left: 210px;
}
.moreInfo:hover .underTxt {
	display: block;
}
.voteYes {
	color: #92d36e;
	margin-left: 420px;
}
.voteYes:hover .underTxt {
	display: block;
}

.underTxt {
	display: none;
	text-align: center;
	width: 80px;
	font-size: 16px;
}

<<<<<<< HEAD
.profile-view {
    text-align: center;
}

.profile-view table {
    margin: 0 auto;
}

.profile-view .profile-pic {
    margin: 50px auto;
    height: 420px;
    width: 420px;
    border: 1px solid black;
    border-radius: 100%;
    background-image: url("../Images/nathan_fielder.jpg");
    background-position: 40% 30%;

.mingleRight aside {
	background-color: #deebef;
	width: 100px;
	float: left;
	height: calc(100vh - 67px);
}

.mingleRight aside img {
	margin: 25px 25px 0;
	cursor: pointer;
}

.mingleRight aside img:hover {
	border: 3px solid #006e8c;
	margin: 22px 22px -3px;
}

.mingleRight section {
	float: right;
	width: calc(100vw - 50% - 120px);
}

.mingleRight section > div:first-child {
	padding-top: 0;
}

.mingleRight section > div {
	width: 80%;
	margin: 35px 10%;
	clear: both;
	padding-top: 35px;
}

.mingleRight section > div:last-child {
	margin-bottom: 0;
}

.mingleRight section div img {
	border: 2px solid #ddd;
}

.mingleRight section div:nth-child(odd) img {
	float: left;
	margin-right: 25px;
}

.mingleRight section div:nth-child(even) img {
	float: right;
	margin-left: 25px;
}

.talkBox {
	background-color: #eeeeee;
	padding: 20px;
	width: calc(100% - 150px);
	display: inline-block;
}

.talkBox:nth-child(odd) {
	float:right;
}
.talkBox:nth-child(even) {
	float: left;
}

.submitbox {
	height: 60px;
	border: 1px solid black;
	padding-top: 0 !important;
	margin: 0;
	position: absolute;
	bottom: 15px;
	right: -80px;
	max-width: 650px;
}

.submitbox textarea {
	margin: 0;
	padding: 10px;
	border: 0;
	width: calc(100% - 71px);
	height: 40px;
	resize: none;
}

.submitBtn {
	background-color: #008db1;
	float: right;
	width: 50px;
	height: 60px;
	margin: 0;
	padding: 0;
	border-left: solid 1px black;
	cursor: pointer;
}

.submitBtn i {
	color: #fff;
	font-size: 36px;
	margin-left: 9px;
	margin-top: 11px;
}

.submitBtn:hover i {
	color: #ddd;
}