html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

h1 {
    margin: 0 auto;
}

.background-image {
    background-image: url("../Images/Cindr-background.jpg");
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.background-image:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(1,0,0,0.6);
}

.background-image h1 {
    position: relative;
    color: #FFFFFF;
    font-size: 86px;
    top: 5%;
    z-index: 100;
}

.background-image form {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    top: 20%;
    z-index: 100;
}

.background-image form label {
    display: block;
    color: #FFFFFF;
    font-size: 18px;
}

.background-image form input {
    height: 20px;
    width: 200px;
    margin-bottom: 5px;
}

.background-image form input[type=submit] {
    border: 0;
    border-radius: 5px;
    display: block;
    color: #FFFFFF;
    height: 30px;
    background-color: #FF324C;
    margin: 20px auto;
    outline: none;
}

.background-image form a {
    font-size: 14px;
    color: #00D8FF;
}

.pull-left {
    float: left;
	display: inline-block;
}

.pull-right {
    float: right;
	display: inline-block;
}

nav[role="navigation"] {
    background-color: #006e8c;
    height: 67px;
    width: 100%;
}

nav[role="navigation"] .identity {
	display: inline-block;
	padding: 16px 30px 17px;
	font-size: 30px;
	color: #fff;
	margin-right: 50px;
}

nav[role="navigation"] .pull-left ul {
	list-style: none;
	display: inline-block;
	padding: 0;
	font-size: 0;
    top: 0;
    left: 200px;
    position: absolute;
}

nav[role="navigation"] .pull-left a li {
	display: inline-block;
	margin: 0;
	font-size: 16px;
    height: 67px;
    line-height: 50px;
    padding: 6px;
    box-sizing: border-box;
	color: #fff;
}

nav[role="navigation"] a {
    margin-right: 30px;
}

nav[role="navigation"] .pull-left a li:hover {
	color: #eee;
    border-bottom: 4px solid #c9f1fd;
}

nav[role="navigation"] .selected {
    border-bottom: 4px solid #c9f1fd;
}