<div class="pull-left">
	<a href="home.html"><h1 class="identity">Cindr</h1></a>
	<ul class="nav">
		<a href="home.html"><li>Dashboard</li></a>
		<a href="profile-view.html"><li>My Profile</li></a>
		<a href="mingle.html"><li>Mingle</li></a>
		<a href="#"><li>My Matches</li></a>
		<a href="#"><li>About Us</li></a>
	</ul>
</div>
<div class="pull-right">
	<div class="profilePic"></div>
	<i class="fa fa-chevron-down"></i>
	<ul class="dropdown">
		<li><a href="profile-view.html">View Profile</a></li>
		<li><a href="profile-edit.html">Edit Profile</a></li>
		<li><a href="landing-page.html">Sign Out</a></li>
	</ul>
</div>